<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.light.repository.PhotoMapper">
 <select id="findByPhotographerId" resultType="Photo">
     select * from portfolios where photographer_id = #{photographerId};
 </select>
    <insert id="addOnePhoto">
        insert into portfolios(id,title,object_name,description,upload_time,photo_mode,photographer_id,stock,price)
        values (#{id},#{title},#{objectName},#{description},#{uploadTime},#{photoMode},#{photographerId},#{stock},#{price});
    </insert>
    <select id="findById" resultType="Photo">
        select * from portfolios where id=#{id};
    </select>
    <delete id="deleteById">
        delete  from portfolios where id=#{id};
    </delete>
    <select id="selectByIds" resultType="Photo">
        select * from portfolios
        where id in <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
    </select>
    <select id="selectAllByUploadTime" resultType="Photo">
        select *
        from portfolios
        order by upload_time desc
    </select>
    <update id="deductStock">
        update portfolios
        set stock -=#{deductedStock}
        where id=#{id}
    </update>
</mapper>

