version: '3.8'

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9003:9000"   # API
      - "9004:9001"   # Console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: dodo123789
    volumes:
      - ./minio/data:/data
    command: server /data --console-address ":9001"

  openresty:
    image: openresty/openresty:alpine-fat
    container_name: openresty
    ports:
      - "8080:80"
    volumes:
      - ./openresty/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./openresty/lualib:/usr/local/openresty/site/lualib
    depends_on:
      - minio
    # 确保安装 gd 图像库（OpenResty 默认包含）
    command:
        /usr/local/openresty/bin/openresty -g 'daemon off;'

  zookeeper:
    image:  zookeeper:3.9.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID:  1
      ZOO_TICK_TIME: 2000
    networks:
      - kafka-net

  kafka:
      image: wurstmeister/kafka:latest
      container_name: kafka
      ports:
        - "9092:9092"
      environment:
        - KAFKA_BROKER_ID=1
        - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
        - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
        - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
        - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
        - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
        - KAFKA_DELETE_TOPIC_ENABLE=true
      depends_on:
        - zookeeper
      networks:
        - kafka-net

networks:
  kafka-net:
   driver: bridge
